@font-face {
  font-family: bingo;
  src: url(../../fonts/HelveticaNeue.ttf);
  src: url(../../fonts/HelveticaNeuBold.ttf);
  src: url(../../fonts/HelveticaNeueBd.ttf);
  src: url(../../fonts/HelveticaNeueBlackCond.ttf);
  src: url(../../fonts/HelveticaNeueLight.ttf);
  src: url(../../fonts/HelveticaNeueLt.ttf);
  src: url(../../fonts/HelveticaNeueMed.ttf);
  src: url(../../fonts/HelveticaNeueMedium.ttf);
  src: url(../../fonts/HelveticaNeueThin.ttf);
}
