// modbile view
.header {

}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 100%;
  max-width: 14.5rem;
}

.nav {
  display: none;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-nav > * {
  margin: 0 0.8rem;
  color: $white-color;
  font-size: 1.5rem;
}

.notification {
  height: 3rem;
  width: 2rem;
  padding-top: 1rem;
  position: relative;
  display: inline-block;
}

.user-pic {
  width: 3rem;
  height: 3rem;
}

//hero section

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

}

.hero > * {
  margin: 1rem 0;
}

.hero-slogan {
  padding: 0 1rem;
}

.hero-form {
  display: flex;
  flex-direction: column;
  width: 70%;

  > * {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
}


//footer section

.footer {
  font-size: 1.5rem;
}
.footer-logo {
  padding: 1rem 2rem 2rem;

  figure {
    margin: 0 auto;
    width: auto;
    padding: 1px;
  }

  img {
    width: 100%;
    max-width: 200px;
  }
}
.footer-nav-parent {
 display: flex;
 justify-content: space-between;
 padding: 1rem 2rem;

}
.footer-heading {
  padding-bottom: 0.3rem;
}
.footer-nav {
  padding: 0.5rem 0;
}
.footer-nav-items {
  padding: 0.3rem 0;
}

.footer-form {
  clear: both;
  padding: 0.5rem;

  label {
    display: inline-block;
    min-width: 9ch;
  }

  select {
    padding: 0.4rem 0.3rem;
    width: 70%;

  }
}

.footer-bottom {
  display: flex;
  padding: 1rem 1.5rem;
}
.social-list {
  display: flex;

  li {
    margin: 0 0.4rem;
  }

}

.footer-width-breaks {
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .mobile-nav,
  .hambuger {
    display: none;
  }

  .nav-wrapper {
    padding: 0 2%;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-items {
    margin :0 1rem;
    display: flex;
    align-items: center;
  }

  .hero-form {
    max-width: 500px;
  }

  //foter section
  .footer-width-breaks {
    max-width: 72rem;
  }

  .footer-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-logo,
  .footer-nav-parent {
    flex: 1;
  }

  .footer-form {
    width: 100%;
    form {
      display: flex;
    }

    fieldset {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}


@media (min-width: 1024px) {

  .nav-wrapper {
    padding: 0 5%;
  }

  .nav-items {
    padding :0;
    margin: 0 2rem;
    display: flex;
    align-items: center;
  }

  .hero {
    height: 30vh;
    justify-content: center;
  }

  .hero-form {
    max-width: none;
    flex-direction: row;
    justify-content: center;

    > * {
      margin: 0 0.1rem;
    }
  }


  //foter section
  .footer-width-breaks {
    max-width: 114rem;
  }

  .footer-top{

    flex-wrap: nowrap;
  }
  .footer-form {
    width: auto;
    form {

      flex-direction: column;

    }

  }

  .footer-bottom {
    justify-content: space-between;
  }
}
